html{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    margin: 0px;
    padding-top: 0px;
}

.frame{
    margin: 0px;
    background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    padding: 10px;
}

.frame:after{
    
    
}


#survey-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(73, 73, 117 , 0.7);
    color: white;
    width: 55%;
    margin: auto;
    justify-content: center;
}

.title-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title{
    position: inherit;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 0px;
}

#description{
    position: relative;
    color: white;
    font-style: italic;
    margin-bottom: 25px;
}


#name-label{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

#name{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#email-label{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

#email{
    margin-left: 20px;
    margin-right: 20px;
}

#age-label{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

#age{
    margin-left: 20px;
    margin-right: 20px;
}

#dropdown{
    margin-left: 20px;
    margin-right: 20px;
}

#dropdown-label{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#recommend-title{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

#definitely , #May-Be , #Not-Sure{
    margin-left: 20px;
}

#definitely-label , #May-be-label , #Not-sure-label {
    margin-left: 0px;
}










