html{
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    margin: 0px;
    padding-top: 0px;
}

.frame{
    margin: 0px;
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
    ) ,
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    padding: 10px;
}




#survey-form{
    display: flex;
    flex-direction: column;
    background-color: rgba(27, 27, 50, 0.8);
    color: white;
    width: 55%;
    margin: auto;
    justify-content: center;
}

.title-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 1px 1px black;
}

#title{
    position: inherit;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 25px;
    font-weight:bolder
    
}

#description{
    position: relative;
    color: white;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: lighter;
}


#name-label{
    margin-top: 35px;
    margin-left: 25px;
    margin-right: 20px;
}

#name{
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 20px;
}

#email-label{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;

}

#email{
    margin-left: 25px;
    margin-right: 20px;
}

#age-label{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;

}

#age{
    margin-left: 25px;
    margin-right: 20px;
}

#dropdown{
    margin-left: 25px;
    margin-right: 20px;
}

#dropdown-label{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 20px;
}

#recommend-title{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 20px;
}

#definitely , #May-Be , #Not-Sure{
    margin-left: 25px;
}

#definitely-label , #May-be-label , #Not-sure-label {
    margin-left: 5px;
}


#dropdown-2-label{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

#dropdown-2{
    margin: 5px 25px 15px 25px;
}


.Labels label , .Labels input{
    float: none;
    display: inline-block;
    vertical-align: middle;
    align-items: center;
    margin-left: 25px;
}

.Labels label{
    margin-left: 5px;
}

p{
    margin: 10px 25px 0px 25px;
}





